body {
  background-color: black;
  text-align: center;
}

h1 {
  color: black;
  font-family: Arial;
}

#myCanvas {
  background-color: #2a5;
  /* border-style: dashed; */
}

button {
  background-color: white; 
  font-size: 20px;
  padding: 5px 7px 7px 5px;
  border: none;
  border-radius: 5px;
  text-shadow: 1px 1px black;
  cursor: pointer;
}